@model List<string>
@{
    Layout = null;
}
<select class="form-control" name="@(ViewBag.name)" id="@(ViewBag.id)" onchange="@(ViewBag.onchange)">
    <option value="">(Todos)</option>
    @foreach (var item in Model)
    {
        <option value="@(item)" @(ViewBag.selected == item ? "selected" : "")>@(item)</option>
    }
</select>
