@model SysPoint.Models.Supervisor
@{
    ViewBag.Title = "Usuario";
    Layout = "~/Views/Shared/_LayoutNav.cshtml";
}

<form action="/Admin/UsuarioEdit" method="post" autocomplete="off">
    <input type="hidden" name="usuario.id" value="@(Model.Id)" />
    <div class="container">
        <div class="page-header">
            <h1>@ViewBag.Title</h1>
        </div>

        <div class="form-group">
            <label>Nome</label>
            <input class="form-control" type="text" name="usuario.Nome" value="@(Model.Nome)" autocomplete="off" />
        </div>
        <div class="form-group">
            <label>Email</label>
            <input class="form-control" type="text" name="usuario.Email" value="@(Model.Email)" autocomplete="off" />
        </div>
        <div class="form-group">
            <label>Senha</label>
            <input type="hidden" name="usuario.Senha" value="@(Model.Senha)" />
            <input class="form-control" type="password" name="NovaSenha" value="          " autocomplete="off" />
        </div>
        <div class="row justify-content-end">
            <div class="col-sm-2">
                <button type="submit" class="btn btn-block btn-primary">Gravar</button>
            </div>
            <div class="col-sm-2">
                <a href="/Usuario/Index" class="btn btn-block btn-secondary">Voltar</a>
            </div>
        </div>
    </div>
</form>

